<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mx.minnong.mapper.AdvertisementMapper" >
  <resultMap id="BaseResultMap" type="com.mx.minnong.pojo.Advertisement" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="adver_id" property="adverId" jdbcType="INTEGER" />
    <result column="adver_proid" property="adverProid" jdbcType="INTEGER" />
    <result column="adver_begintime" property="adverBegintime" jdbcType="TIMESTAMP" />
    <result column="adver_endtime" property="adverEndtime" jdbcType="TIMESTAMP" />
    <result column="adver_state" property="adverState" jdbcType="INTEGER" />
    <result column="adver_position" property="adverPosition" jdbcType="INTEGER" />
  </resultMap>
  <select id="findByState" resultMap="BaseResultMap" parameterType="java.lang.Integer">
      select * from Advertisement where
      <choose>
        <when test="adverState!=null">adver_state=#{adverState}</when>
        <otherwise>1=1</otherwise>
      </choose>
  </select>
</mapper>