<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mx.minnong.mapper.ClassifyMapper" >
  <resultMap id="BaseResultMap" type="com.mx.minnong.pojo.Classify" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="cl_id" property="clId" jdbcType="INTEGER" />
    <result column="cl_fid" property="clFid" jdbcType="INTEGER" />
    <result column="cla_name" property="claName" jdbcType="VARCHAR" />
  </resultMap>
</mapper>