<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mx.minnong.mapper.NewsMapper" >
  <resultMap id="BaseResultMap" type="com.mx.minnong.pojo.News" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="news_id" property="newsId" jdbcType="INTEGER" />
    <result column="news_title" property="newsTitle" jdbcType="VARCHAR" />
    <result column="news_author" property="newsAuthor" jdbcType="VARCHAR" />
    <result column="news_source" property="newsSource" jdbcType="VARCHAR" />
    <result column="news_picture" property="newsPicture" jdbcType="VARCHAR" />
    <result column="news_pageviews" property="newsPageviews" jdbcType="INTEGER" />
    <result column="news_createTime" property="newsCreatetime" jdbcType="TIMESTAMP" />
    <result column="news_updateTime" property="newsUpdatetime" jdbcType="TIMESTAMP" />
    <result column="news_content" property="newsContent" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>