<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mx.minnong.mapper.RecommendMapper" >
  <resultMap id="BaseResultMap" type="com.mx.minnong.pojo.Recommend" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="rec_id" property="recId" jdbcType="INTEGER" />
    <result column="rec_proid" property="recProid" jdbcType="INTEGER" />
    <result column="rec_begintime" property="recBegintime" jdbcType="TIMESTAMP" />
    <result column="ren_endtime" property="renEndtime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>